@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "fonts/style.css";
@import "utils";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blackish-green: #121;
  --mint-green: #8dd3bb;
  --slamon: #ff8682;
  --neutrals: #fff;
  --font-family: "Montserrat", sans-serif;
  --second-family: "TradeGothic LT Extended", sans-serif;

}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

ul,ol,li {
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

p, span {
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 0 auto;
  width: 1230px;
}

.top {
  margin-bottom: 40px;
  &--title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #000;
    margin-bottom: 16px;
  }
  &--subtitle {
    font-weight: 400;
    font-size: 16px;
    color: #121;
  }
}