
.select {
  position: relative;
  display: inline-block;

  label {
    position: absolute;
    font-size: 1rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: gray;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: .1s ease-out;
    transform-origin: left top;
    pointer-events: none;
  }

  input {
    font-size: 1rem;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1rem 0.7rem;
    color: gray;
    transition: 0.1s ease-out;

    &:focus {
      border-color: #6200EE;
    }

    &:focus + label {
      color: #6200EE;
      top: 0;
      transform: translateY(-50%) scale(.9);
    }

    &:not(:placeholder-shown) + label {
      top: 0;
      transform: translateY(-50%) scale(.9);
    }
  }

  &-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
    max-height: 200px;
    padding: 0;
    overflow-y: auto;

    li {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      list-style: none;

      &:hover {
        background-color: #ddd;
      }
    }
  }

}

