.flight-item {
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 16px 0 rgba(17, 34, 17, 0.05);
  background: var(--neutrals);
  display: flex;
  align-items: flex-start;
  &__left {
    margin-right: 24px;

    img {
      width: 160px;
      object-fit: cover;
    }
  }

  &__right {
    width: 100%;
    &--top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .rating-review {
        display: flex;
        align-items: center;
        .rating {
          display: inline-block;
          border: 1px solid var(--mint-green);
          border-radius: 4px;
          padding: 8px 16px;
          font-family: var(--font-family), sans-serif;
          font-weight: 500;
          font-size: 12px;
          color: var(--blackish-green);
          margin-right: 8px;
        }
        .review {
          font-family: var(--font-family), sans-serif;
          font-size: 12px;
          color: var(--blackish-green);
          font-weight: 500;
          span {
            font-weight: 700;
          }
        }
      }
      .price {
        display: flex;
        flex-direction: column;
        &-text {
          font-family: var(--font-family), sans-serif;
          font-weight: 500;
          font-size: 12px;
          color: var(--blackish-green);
          opacity: 0.75;
        }
        &-count {
          font-family: var(--font-family), sans-serif;
          font-weight: 700;
          font-size: 24px;
          text-align: right;
          color: var(--slamon);
        }
      }
    }
    &--center {
      .date {
        display: flex;

        &:last-child {
          margin-top: 16px;
        }

        &-general {
          display: flex;
          flex-direction: column;
        }
        .first {
          font-family: var(--font-family), sans-serif;
          font-weight: 600;
          font-size: 16px;
          color: var(--blackish-green);
        }
        .second {
          font-family: var(--font-family), sans-serif;
          font-weight: 400;
          font-size: 14px;
          color: var(--blackish-green);
          opacity: 0.4;
        }

        &-center {
          margin-left: 40px;
          margin-right: 40px;
          font-family: var(--font-family), sans-serif;
          font-weight: 600;
          font-size: 14px;
          color: var(--blackish-green);
          opacity: 0.75;
        }
      }
    }

    .line {
      background: var(--blackish-green);
      opacity: 0.25;
      width: 100%;
      margin-top: 16px;
      margin-bottom: 16px;
    }

    &--bottom {
      width: 100%;
      display: grid;
      grid-template-columns: .1fr 1fr;
      gap: 16px;
      height: 100%;

    }
  }
}