.plan-trip__item {
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 4px 16px 0 rgba(17, 34, 17, 0.05);
  background: white;

  &--left {
    img {

    }
  }
  &--right {
    margin-left: 16px;
    &___top {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 16px;
      color: #121;
      opacity: .7;
      margin-bottom: 8px;
    }
    &___bottom {
      span {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #121;
        position: relative;

        &:after {
          content: "•";
          margin-left: 8px;
          margin-right: 8px;
        }

        &:last-child {
          &:after {
            content: " ";
          }
        }
      }
    }
  }
}