
.select {
  position: relative;
  display: inline-block;

  label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    margin: 0 0.5rem;
    padding: 18px;
    transition: .1s ease-out;
    transform-origin: left top;
    pointer-events: none;
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--blackish-green);
  }

  input {
    outline: none;
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 16px;
    transition: 0.1s ease-out;
    border: 1px solid #79747e;
    border-radius: 4px;
    background: var(--neutrals);
    color: var(--blackish-green);
    padding: 18px;
    &:focus {
      border: 1px solid var(--mint-green);
    }

    &:focus + label {
      color: var(--mint-green);
      top: 0;
      transform: translateY(-50%) scale(.9);
    }

    &:not(:placeholder-shown) + label {
      top: 0;
      transform: translateY(-50%) scale(.9);
    }
  }

  &-error {
    border: 1px solid #fd736e;
    label {
      color: #fd736e;
    }
  }

  &-disabled {
    border: 1px solid rgba(121, 116, 126, 0.12);
    input {
      color: #1c1b1f;
      opacity: 0.38;
      pointer-events: none;
    }

    label {
      color: #1c1b1f;
      background: white;
      opacity: 0.38;
      pointer-events: none;
    }
  }

  &-dropdown {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;

    li {
      text-decoration: none;
      display: block;
      list-style: none;
      cursor: pointer;

      font-family: var(--font-family), sans-serif;
      font-weight: 400;
      font-size: 16px;
      padding: 10px 18px;

      &:hover {
        background-color: #ddd;
      }
    }
  }

}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}


