.flight-tabs {
  margin-top: 50px;
  &__top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 24px;
  }
  &__bottom {
    margin-top: 32px;
    display: flex;
    justify-content: flex-end;

  }
}