.sort-flight {
  margin-bottom: 25px;
  &__top {
    border-radius: 12px;
    padding: 16px 24px;
    box-shadow: 0 4px 16px 0 rgba(17, 34, 17, 0.05);
    background: var(--neutrals);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    margin-bottom: 24px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .show {
      font-family: var(--font-family), sans-serif;
      font-weight: 600;
      font-size: 14px;
      color: var(--blackish-green);

      .from {
        color: var(--slamon);
      }
    }

    .dropdown {
      position: relative;
      &-menu {
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        width: 180px;
        left: 0;
        max-height: 200px;
        overflow-y: auto;

        li {
          text-decoration: none;
          display: block;
          list-style: none;
          cursor: pointer;

          font-family: var(--font-family), sans-serif;
          font-weight: 400;
          font-size: 16px;
          padding: 10px 18px;

          &.active {
            color: #8dd3bb;
          }

          &:hover {
            background-color: #ddd;
          }
        }
      }
    }

    .sort-by {
      font-family: var(--font-family), sans-serif;
      font-weight: 400;
      font-size: 14px;
      text-align: right;
      color: var(--blackish-green);
      position: relative;
      padding-right: 26px;
      cursor: pointer;
      span {
        font-weight: bold;
      }

      &::before {
        content: "";
        background-image: url('data:image/svg+xml,<svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.75 7.5L8 0.75L1.25 7.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" /></svg>');
        height: 7px;
        width: 17px;
        position: absolute;
        top: 50%;
        right: 0;
        background-repeat: no-repeat;
        transition: .3s all ease;
        transform: translateY(-55%);
      }

      &.active::after {
        transform: rotate(180deg);
      }
    }
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: -14%;
      width: 48px;
      height: 0;
      border: 1px solid #d7e2ee;
      transform: rotate(-90deg) ;
      //transform: translate(-50%, -50%);
    }
    
    &:last-child::before {
      display: none;
    }
    .title {
      margin-bottom: 8px;
      font-family: var(--font-family), sans-serif;
      font-weight: 600;
      font-size: 16px;
      color: var(--blackish-green);
    }
    .price-and-time {
      font-family: var(--font-family), sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: var(--blackish-green);
      opacity: .4;

    }
  }
}